docs/archive/2.0.0/anzsoilml-soilsample/xsd/anzsoilml-soilsample-old2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:anzsmlss="http://xmlns.anzsoil.org/ANZSoilML-SoilSample/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" xmlns:spec="http://www.opengis.net/samplingSpecimen/2.0" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:swe="http://www.opengis.net/swe/2.0" targetNamespace="http://xmlns.anzsoil.org/ANZSoilML-SoilSample/2.0" elementFormDefault="qualified" version="2.0.0">
	<xs:import namespace="http://www.opengis.net/samplingSpecimen/2.0" schemaLocation="http://schemas.opengis.net/samplingSpecimen/2.0/specimen.xsd"/>
	<xs:import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
	<!-- Schema generated by  B. Simons 24/10/2013
xmlns:sam="http://www.opengis.net/sampling/2.0" 
<import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="http://schemas.opengis.net/sampling/2.0/samplingFeature.xsd"/>
xmlns:sa="http://www.opengis.net/sampling/1.0/gml32" 
<import namespace="http://www.opengis.net/sampling/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-129/sampling/1.0.0_gml32/sampling.xsd"/>
   http://www.opengis.net/om/1.0 http://schemas.opengis.net/om/1.0.0/om.xsd
-->
	<xs:annotation>
		<xs:documentation>Application Schema for soil sampling, soil specimens and related observations</xs:documentation>
	</xs:annotation>
	<xs:element name="SoilSample" type="anzsmlss:SoilSampleType" substitutionGroup="sams:SF_SpatialSamplingFeature">
		<xs:annotation>
			<xs:documentation>A specialisation of SF_SpatialSamplingFeature to allow the depth at which the sample was taken and the size of the sample.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SoilSampleType">
		<xs:complexContent>
			<xs:extension base="sams:SF_SpatialSamplingFeatureType">
				<xs:sequence>
					<xs:element name="lowerDepth" nillable="true">
						<xs:annotation>
							<xs:documentation>To specify the lower depth that the sample was taken from</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension  base="gml:MeasureType">
									<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
								<!--	<xs:attribute name="nilReason" type="gml:NilReasonType"/> -->
								</xs:extension>
								
								
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="upperDepth" nillable="true">
						<xs:annotation>
							<xs:documentation>To specify the upper depth that the sample was taken from</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension  base="gml:MeasureType">
									<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
								<!--	<xs:attribute name="nilReason" type="gml:NilReasonType"/> -->
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SoilSamplePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="anzsmlss:SoilSample"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SoilSpecimen" type="anzsmlss:SoilSpecimenType" substitutionGroup="spec:SF_Specimen">
		<xs:annotation>
			<xs:documentation>A specialisation of SF_Specimen to capture archived specimens. 
NatSoil archive indicates whether there is a coarse fraction (&gt;2mm) present in the specimen.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SoilSpecimenType">
		<xs:complexContent>
			<xs:extension base="spec:SF_SpecimenType">
				<xs:sequence>
					<xs:element name="coarseFragmentsPresent" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Presence or absence of coarse fragment sample &gt;2mm</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SoilSpecimenPropertyType">
		<xs:sequence>
			<xs:element ref="anzsmlss:SoilSpecimen"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>
